.form-control.login-user {
    border: 0 solid #fff !important;
  }
  .btn-social{
    position: relative;
    padding-left: 44px;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    
    color: #fff;
    border-color: rgba(0,0,0,0.2);
  }
  
  .btn-facebook{
    background: #3b5998;
    
  }
  .btn-google{
    background: #dd4b39;
  }
  